---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <h2>Blog</h2>
  <section>
    <ul>
      {
        articles.map((article) => (
          <li>
            <span>{article.data.pubDate.toLocaleDateString()}</span>
            <a href={`/articles/${article.slug}/`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
<style>
  li {
    display: flex;
  }
  span {
    flex: 0 0 100px;
  }
</style>
