---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import { sortByPubDate } from "../../utils/date";

const allArticles = await getCollection("articles");
const articles = sortByPubDate(allArticles);
---

<BaseLayout>
  <h2>Articles</h2>
  <div
    style="display: flex; justify-content: space-between; align-items: center;"
  >
    <div></div>
    <a href="/articles/tags/">Browse by Tags</a>
  </div>
  <section>
    <ul>
      {
        articles.map((article) => (
          <li>
            <span>{article.data.pubDate.toLocaleDateString()}</span>
             <a href={`/articles/${article.id}/`}>
              {article.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
<style>
  li {
    display: flex;
  }
  span {
    flex: 0 0 100px;
  }
</style>
