:root {
  --text-primary: #161616;
  --text-secondary: #1c1c1c;
  --bg-primary: #ededed;
  --border: #898ea4;
  --code: #f06292;
  --link: #6272a4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #ededed;
    --text-secondary: #a0a0a0;
    --bg-primary: #161616;
    --border: #898ea4;
  }
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* End Reset */

body {
  font-family: "Atkinson", sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}
a {
  color: var(--text-primary);
  text-decoration-color: var(--text-secondary);
  font-weight: 600;
}
a:hover {
  text-decoration-color: var(--text-primary);
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  color: var(--code);
}
pre {
  padding: 1em;
  border-radius: 8px;
  border: 1px solid var(--border);
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
p {
  margin: 0.75em auto;
}
article h2,
article h3 {
  margin: 0.75em auto;
}
article p {
  margin: 0.75em auto;
}
ul,
ol {
  padding-left: 1.5em;
  margin: 0.75em auto;
}
ul:not(article ul) {
  padding-left: 0;
  list-style-type: none;
}
ul:not(article ul) li {
  margin: 0.5em 0;
}
ul:not(article ul) li a {
  text-decoration: none;
  font-weight: normal;
}
ul:not(article ul) li a:hover {
  color: var(--text-secondary);
}

/* Screenreader only */
.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
