---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const articles = await getCollection('articles');
const tags = [...new Set(articles.map((article) => article.data.tags).flat())];
---

<BaseLayout>
  <h2>Tags</h2>
  <section>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/tags/${tag}/`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
<style>
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: rgb(var(--text-primary));
    columns: 3;
  }
  ul li {
    margin: 0.5em 0;
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
</style>
