---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <div>
    <h2>404</h2>
    <p>Ope, that page doesn't exist.</p>
    <p>(╯°□°)╯︵ ┻━┻</p>
  </div>
</BaseLayout>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    font-size: 1.5em;
  }
  h2 {
    font-size: 2em;
  }
</style>
