---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>About Me</h2>
  <section>
    <h3>Faith</h3>
    <p>
      I believe in God. I believe that God sent Jesus Christ to die for our
      sins. I believe that Christ defeated death and that through Him we can
      have eternal life.
    </p><p>I'm trying my best to live a life that reflects Jesus.</p>
  </section>
  <section>
    <h3>Family</h3>
    <p>
      I'm a husband and father of two. I love spending every minute I can with
      them.
    </p>
  </section>
  <section>
    <h3>Freedom</h3>
    <p>
      I'm a proud American. I believe in what the flag represents and what we
      stand for as a country.
    </p>
  </section>
  <section>
    <h3>Health</h3>
    <p>
      I work out at least 5 days a week in order to stay fit. Fitness to me is
      being strong to be useful and being able to play and keep up with my kids.
    </p>
  </section>
  <section>
    <h3>Music</h3>
    <p>
      I enjoy playing the guitar and have been a part of several church worship
      bands.
    </p>
  </section>
  <section>
    <h3>Video Games</h3>
    <p>I unwind by playing video games.</p>
  </section>
  <section>
    <h3>Coding</h3>
    <p></p>
  </section>
  <section>
    <h3></h3>
    <p></p>
  </section>
</BaseLayout>
