---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>AI</h2>
  <p>Updated 7-22-2025</p>
  <p>An <a href="https://slashai.page/">/ai</a> page</p>

  <section>
    <p>None of the content on this site was written by AI.</p>
    <p>
      I use <a href="https://claude.ai">claude.ai</a>, <a
        href="https://chatgpt.com/">chatGPT</a
      >, and <a href="https://t3.chat/">t3.chat</a> for research and random questions.
    </p>
    <p>I turned off AI code completion as it was more annoying than useful.</p>
    <p>
      I am using the <a href="https://zed.dev">Zed</a> code editor's built-in AI
      tooling to build out various projects, including functionality of this site.
    </p>
    <p>I will keep this page updated with how I'm using AI.</p>
  </section>
</BaseLayout>
