---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>AI</h2>
  <p>Updated 1-11-2025</p>
  <p>An <a href="https://slashai.page/">/ai</a> page</p>

  <section>
    <p>
      Nothing on this site was written with AI. I'm using GitHub Copilot for
      code autocompletion and I use Claude as a search engine.
    </p>
    <p>I will keep this page updated with how I'm using AI.</p>
  </section>
</BaseLayout>
