---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Blogroll+</h2>
  <p>Read through Newsboat if possible.</p>
  <section>
    <h3>Blogs</h3>
    <ul>
      <li>
        <a href="https://www.artofmanliness.com/">Art of Manliness</a> - Advice for
        men on character, career, fitness and so much more.
      </li>
      <li>
        <a href="https://joelhooks.com">Joel Hooks</a> - Joel's garden is full of
        great notes on topics like business, parenting, learning and more.
      </li>
      <li>
        <a href="https://jason.energy">Jason Lengstorf</a> - Jason shares how he
        lives life based on lessons he's learned.
      </li>
      <li>
        <a href="https://medium.com/@_ericelliott">Eric Elliott</a> - Eric writes
        phenomenal js articles/tutorials.
      </li>
    </ul>
  </section>
  <section>
    <h3>Podcasts</h3>
    <ul>
      <li>
        <a href="https://www.artofmanliness.com/podcast/">Art of Manliness</a> -
        Helping men become better men through interviews with authors and thinkers.
      </li>
      <li>
        <a href="https://www.joerogan.com/#jre-section"
          >The Joe Rogan Experience</a
        > - Interesting interviews with all sorts of people.
      </li>
      <li>
        <a href="https://www.jordanbpeterson.com/podcast/"
          >The Jordan Peterson Podcast</a
        > - Fascinating interviews and lectures on values, music, religion and more.
      </li>
      <li>
        <a href="https://www.dailywire.com/show/the-ben-shapiro-show"
          >The Ben Shapiro Show</a
        > - Brutal honesty about what's happening in the world.
      </li>
      <li>
        <a href="https://www.prageru.com/series/5-minute-videos"
          >PragerU 5-Minute Videos</a
        > - Bite-sized videos on ideas from great minds.
      </li>
      <li>
        <a href="https://www.hubermanlab.com/podcast">Huberman Lab</a> - Lectures
        and interviews on science and scienced-based tools.
      </li>
    </ul>
  </section>
</BaseLayout>
<style>
  section {
    margin-top: 2em;
  }
</style>
