---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Bookmarks</h2>
  <p>Updated 1-2-2025</p>
  <p>A list of sites I like to have handy.</p>
  <div>
    <section>
      <h3>Dev</h3>
      <ul>
        <li><a href="https://free-for.dev/#/">free-for.dev</a></li>
        <li><a href="https://github.com/sindresorhus/awesome">awesome</a></li>
        <li>
          <a href="https://github.com/awesome-selfhosted/awesome-selfhosted"
            >awesome-selfhosted</a
          >
        </li>
        <li>
          <a href="https://github.com/agarrharr/awesome-cli-apps"
            >awesome-cli-apps</a
          >
        </li>
        <li><a href="https://htmlrev.com/">HTMLrev</a></li>
        <li><a href="https://flems.io/">Flems web dev playground</a></li>
        <li><a href="https://roadmap.sh/">https://roadmap.sh/</a></li>
        <li><a href="https://devhints.io/">Devhints.io</a></li>
        <li>
          <a href="https://whatthecommit.com/">Commit Message Generator</a>
        </li>
      </ul>
    </section>

    <section>
      <h3>AI</h3>
      <ul>
        <li><a href="https://slashai.page/">/ai</a></li>
        <li><a href="https://supermaven.com/">Supermaven</a></li>
        <li><a href="https://claude.ai/">Claude.ai</a></li>
        <li><a href="https://huggingface.co">Hugging Face</a></li>
        <li>
          <a href="https://huggingface.co/spaces/Yuanshi/OminiControl"
            >OminiControl</a
          >
        </li>
      </ul>
    </section>

    <section>
      <h3>Work</h3>
      <ul>
        <li><a href="https://stillhiring.today/">StillHiring.today</a></li>
        <li><a href="https://arc.dev/">Arc.dev</a></li>
        <li><a href="https://wellfound.com/">wellfound</a></li>
        <li><a href="https://www.ycombinator.com/jobs">ycombinator</a></li>
        <li>
          <a href="https://www.techinterviewhandbook.org/"
            >Tech Interview Handbook</a
          >
        </li>
      </ul>
    </section>

    <section>
      <h3>Images / Icons</h3>
      <ul>
        <li><a href="https://www.photopea.com/">PhotoPea</a></li>
        <li><a href="https://svgomg.net/">SVGOMG</a></li>
        <li>
          <a href="https://realfavicongenerator.net/">favicon generator</a>
        </li>
        <li><a href="https://icones.js.org/">icones</a></li>
      </ul>
    </section>

    <section>
      <h3>Gaming</h3>
      <ul>
        <li>
          <a href="https://isthereanydeal.com/">https://isthereanydeal.com/</a>
        </li>
        <li><a href="https://www.humblebundle.com/">Humble Bundle</a></li>
      </ul>
    </section>

    <section>
      <h3>Books</h3>
      <ul>
        <li><a href="https://sive.rs/book/">Derek Sivers book summaries</a></li>
        <li>
          <a href="https://jamesclear.com/book-summaries"
            >James Clear book summaries</a
          >
        </li>
        <li><a href="https://blas.com/">Blas' book summaries</a></li>
      </ul>
    </section>

    <section>
      <h3>Misc</h3>
      <ul>
        <li><a href="https://looks.wtf/">looks.wtf</a></li>
        <li><a href="https://crontab.guru/">crontab.guru</a></li>
        <li><a href="https://www.carcarekiosk.com/">CarCareKiosk</a></li>
      </ul>
    </section>
  </div>
</BaseLayout>

<style>
  div {
    display: grid;
    gap: 1em 1.25em;
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
  }
  section {
    margin-top: 2em;
  }
</style>
