---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Bookmarks</h2>
  <p>A list of sites I like to have handy.</p>
  <ul>
    <li><a href="https://free-for.dev/#/">free-for.dev</a></li>
    <li><a href="https://git-send-email.io/">email + git</a></li>
    <li><a href="https://stillhiring.today/">StillHiring.today</a></li>
    <li><a href="https://htmlrev.com/">HTMLrev</a></li>
    <li><a href="https://flems.io/">Flems web dev playground</a></li>
    <li><a href="https://www.photopea.com/">PhotoPea</a></li>
    <li><a href="https://svgomg.net/">SVGOMG</a></li>
    <li><a href="https://realfavicongenerator.net/">favicon generator</a></li>
    <li><a href="https://looks.wtf/">looks.wtf</a></li>
    <li><a href="https://icones.js.org/">icones</a></li>
    <li><a href="https://crontab.guru/">crontab.guru</a></li>
  </ul>
</BaseLayout>
