---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Resume</h2>
  <p>Updated 1-18-2025</p>

  <section>
    <h3>Professional Summary</h3>
    <p>
      Innovative and results-driven software engineer with 17+ years in
      front-end and back-end development. Adept at building scalable,
      high-performance applications and driving product innovation in
      fast-paced, dynamic environments. Proven track record of mentoring junior
      engineers and delivering impactful solutions that enhance user experiences
      and optimize business outcomes
    </p>
  </section>
  <section>
    <h3>Technical Skills</h3>
    <ul>
      <li><strong>Languages: </strong>TypeScript</li>
      <li><strong>Frameworks/Libraries: </strong>Next.js, React, Node.js</li>
      <li><strong>Tools/Platforms: </strong>AWS, Firebase</li>
      <li><strong>Databases: </strong>PostgreSQL</li>
    </ul>
  </section>
  <section>
    <h3>Professional Experience</h3>
    <ul>
      <li>
        <strong>Otto (formerly TeleVet, acquired Pawru) | 2022 - Present</strong
        ><br />
        <strong>Senior Software Engineer II</strong> (December 2023 - Present)
        <ul>
          <li>
            Updated the login process to incorporate one-time password (OTP)
            authentication, improving security and user experience.
          </li>
          <li>
            Mentoring junior developers, fostering technical growth and ensuring
            code quality across the team.
          </li>
          <li>
            Driving architectural improvements to ensure scalability and
            performance.
          </li>
          <li>
            Collaborating with cross-functional teams to align product goals
            with engineering priorities.
          </li>
        </ul>
      </li>
      <li>
        <strong>Senior Software Engineer I</strong> (April 2022 - December 2023)
        <ul>
          <li>
            Built Otto's flagship mobile app from the ground up using React
            Native and Expo for iOS and Android.
          </li>
          <li>
            Gained experience in full-stack development by contributing to
            multiple backend and frontend repositories, ensuring seamless
            integration and consistent functionality.
          </li>
          <li>
            Implemented push notification functionality, enhancing user
            engagement and retention.
          </li>
        </ul>
      </li>
      <li>
        <strong>Senior Software Engineer (Pawru)</strong> (November 2020 - April
        2022)
        <ul>
          <li>
            Architected a React Native front-end for iOS, Android, and web,
            improving development efficiency.
          </li>
          <li>
            Optimized image download times through refactoring NodeJS and
            Express-based file services.
          </li>
          <li>
            Streamlined the onboarding process, boosting customer retention.
          </li>
          <li>Increased user engagement with targeted email campaigns.</li>
        </ul>
      </li>
      <li>
        <strong
          >Genesys (Acquired Interactive Intelligence) | 2014 - 2020</strong
        ><br />
        <strong>Senior Software Engineer</strong> (April 2020 – November 2020)
        <ul>
          <li>
            Leveraged cloud services for Journey Mapping and Interaction
            Routing.
          </li>
          <li>
            Improved accessibility compliance, expanding the platform’s user
            base and usability scores.
          </li>
        </ul>
      </li><li>
        <strong>Software Engineer</strong> (December 2016 – April 2020)
        <ul>
          <li>
            Contributed to building foundational front-end features such as
            Response Management, Agent Statistics, Client Memos and more,
            enhancing client-facing capabilities.
          </li>
        </ul>
      </li>
      <li>
        <strong>Software Engineer in Test (Interactive Intelligence)</strong> (February
        2016 - December 2016)
        <ul>
          <li>
            Streamlined virtual machine deployment for test frameworks using
            Selenium Grid, improving scalability and reliability.
          </li>
          <li>
            Maintained and optimized the Jenkins CI server, ensuring reliable
            execution of automated test suites and minimizing downtime.
          </li>
        </ul>
      </li><li>
        <strong
          >Associate Software Engineer in Test (Interactive Intelligence)</strong
        > (June 2014 - February 2016)
        <ul>
          <li>
            Automated test suites using Selenium and the Page OBject Model,
            increasing confidence in software quality while improving test
            stability.
          </li>
        </ul>
      </li><li>
        <strong>Paragon Medical | 2013 - 2014</strong><br />
        <strong>IT Support Engineer (Internship)</strong> (May 2013 - May 2014)
        <ul>
          <li>
            Developed a new CRM web application, streamlining customer
            relationship management and improving operational efficiency.
          </li>
          <li>
            Collaborated with the IT team to gather requirements and deliver a
            user-friendly solution on time.
          </li>
          <li>
            Gained hands-on experience in full-stack development and enhanced
            knowledge of database management.
          </li>
        </ul>
      </li><li>
        <strong>Software Research Center, Anderson University (2010)</strong><br
        />
        <strong>Web Developer</strong> (September 2010 - December 2010)
        <ul>
          <li>
            Developed and maintained client websites, ensuring functionality and
            responsiveness using MODX for content management.
          </li>
          <li>
            Collaborated with clients to gather requirements and deliver
            customized web solutions.
          </li>
          <li>
            Gained expertise in modern web technologies while balancing multiple
            client projects.
          </li>
        </ul>
      </li><li>
        <strong>MicroByte Technologies (2007 - 2010)</strong><br />
        <strong>Web Developer and Technician</strong> (February 2007 - August 2010)
        <ul>
          <li>
            Designed and developed custom websites for clients, focusing on user
            experience and functionality.
          </li>
          <li>
            Repaired and maintained client computers, resolving hardware and
            software issues efficiently.
          </li>
          <li>
            Provided technical support and troubleshooting, ensuring client
            satisfaction and minimizing downtime.
          </li>
        </ul>
      </li>
    </ul>
    <section>
      <h3>Education</h3>
      <p>Bachelor of Science in Computer Science</p>
      <p>Anderson University, Anderson Indiana | Graduated 2014</p>
    </section>
  </section>

  <!-- TODO: style resume -->
  <style>
    li ul {
      padding-left: 1.5em;
      list-style-type: disc;
      margin-top: 0;
    }
    li ul li {
      margin-top: 0;
    }
  </style>
</BaseLayout>
