---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Hi, I'm Steve</h2>
  <p>
    I value faith, family, and freedom over everything else. I'm a software
    engineer at <a href="https://otto.vet">Otto</a>. I enjoy coding, music,
    fitness, video games, whiskey, and <a href="https://strenuouslife.co"
      >doing hard things</a
    >
  </p>
  <p>Check out my <a href="/now">now</a> and <a href="/uses">uses</a> pages.</p>
</BaseLayout>

<style>
  h2 {
    font-size: 2em;
  }
</style>
