---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
const recentArticles = (await getCollection("articles"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<BaseLayout>
  <section>
    <h1>Hi</h1>
    <p>
      My name is Steve. I'm a believer, husband, and father. If you want,
      there's <a href="/about">more</a>.
    </p>
  </section>

  <section>
    <h2>This Place</h2>
    <p>
      You've found my digital garden: a place for me to jot, write, or whatever
      else.
    </p>
  </section>

  <section>
    <p>Here's a <a href="/now">now</a> page to see what I'm currently up to.</p>
  </section>

  <!-- TODO: add projects section when apps are live again -->

  <section>
    <h2>Recent Writing</h2>
    <ul>
      {
        recentArticles.map((article) => (
          <li>
            <a href={`/articles/${article.id}/`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
    <p><a href="/articles">See all</a></p>
  </section>

  <section>
    <h2>Links</h2>
    <ul>
      <li>
        <a href="/uses">Uses</a>
      </li>

      <li>
        <a href="/blogroll">Blogroll+</a>
      </li>

      <li>
        <a href="/ai">AI Usage</a>
      </li>

      <li>
        <a href="/bookmarks">Bookmarks</a>
      </li>

      <!-- TODO: add shelves (books, games, etc...) -->
      <li>
        <a href="/if">Favorite Poem</a>
      </li>
    </ul>
  </section>
</BaseLayout>

<style>
  img {
    width: 90px;
    float: left;
    margin-right: 1em;
  }
</style>
