---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <img alt="bio" src="/images/bio.jpg" />
    <h2>Hi</h2>
    <p>My name is Steve.</p>
    <p>I value faith, family, and freedom above all.</p>
    <p>
      I'm a software engineer at <a href="https://otto.vet">Otto</a>.
    </p>
    <p>
      I enjoy coding, music, fitness, video games, whiskey, and{" "}
      <a href="https://strenuouslife.co">doing hard things</a>.
    </p>
  </main>
</BaseLayout>

<style>
  h2 {
    font-size: 2em;
  }
  main img {
    float: right;
    width: 180px;
    border-radius: 100%;
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    filter: brightness(var(--hover-brightness));
  }
  p {
    color: rgb(var(--text));
    margin-top: 0.5em;
  }
</style>
