---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
const recentArticles = (await getCollection("articles"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<BaseLayout>
  <div>
    <section>
      <h2>Hey, I'm Steve</h2>
      <img alt="Steve" src="/images/profile.jpg" />
      <p>
        I value faith, family, and freedom over everything else. I'm a husband
        and father. I'm a software engineer. I enjoy coding, music, fitness,
        video games, whiskey, and <a href="https://strenuouslife.co"
          >doing hard things</a
        >. Read more about me <a href="/about">here</a>.
      </p>
    </section>
    <section>
      <h2>Fun things on my site</h2>
      <p>Check out stuff I <a href="/uses">use</a>.</p>
      <p>Peruse my list of useful <a href="/bookmarks">bookmarks</a>.</p>
      <p>See blogs I follow on my <a href="/blogroll">blogroll</a>.</p>
      <p>Read about how I'm using <a href="/ai">ai</a>.</p>
      <p>Take a look at my <a href="/cv">cv</a>.</p>
      <p>Read my favorite poem, <a href="/if">If</a>.</p>
    </section>
    <section>
      <h2>Recent Posts</h2>
      <ul>
        {
          recentArticles.map((article) => (
            <li>
              <a href={`/posts/${article.slug}/`}>{article.data.title}</a>
            </li>
          ))
        }
      </ul>
      <a href="/posts">See all</a>
    </section>
  </div>
</BaseLayout>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  h2 {
    font-size: 2em;
  }
  img {
    width: 90px;
    float: left;
    margin-right: 1em;
  }
</style>
