---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>What I'm up to now</h2>
  <p>A <a href="https://nownownow.com">nownownow</a> page</p>
  <p>Updated 7-19-2025</p>
  <section>
    <h3>Projects</h3>
    <p>
      I've been thinking about creating a fitness benchmark tracking app but
      haven't started building anything yet.
    </p>
  </section>
  <section>
    <h3>Fitness</h3>
    <p>
      Still using Ladder for my training and really enjoying it. I'm on Team
      Resilient with Coach Neen. The workouts are great and I'm starting to put
      on some muscle.
    </p>
  </section>
  <section>
    <h3>Playing</h3>
    <p>
      Other than the weekly Halo nights with friends I've been playing Diablo 4
      but I've barely touched it the last couple weeks. I think I'm gonna set it
      aside for a bit and start Blasphemous 2 which I picked up during a sale.
    </p>
  </section>
  <section>
    <h3>Learning</h3>
    <p>
      Still learning terminal based tools like vim, tmux, mutt and more. I'm
      also learning how to use AI tools to improve my productivity. I've begun
      experimenting with the Agent Panel in Zed.
    </p>
  </section>
</BaseLayout>
<style>
  section {
    margin-top: 2em;
  }
</style>
