---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>What I'm up to now</h2>
  <p>A <a href="https://nownownow.com">nownownow</a> page</p>
  <p>Updated 9-9-2024</p>
  <section>
    <h3>Projects</h3>
    <p>This site is my only current project</p>
  </section>
  <section>
    <h3>Fitness</h3>
    <p>
      After hurting my shoulder I took time off from lifting and focused on
      flexibility and mobility. My shoulder is finally better and I've started
      back up with the CrossFit style program.
    </p>
    <p>
      Still looking for a better way to track my benchmarks. Currently using
      notes on my phone.
    </p>
  </section>
  <section>
    <h3>Playing</h3>
    <p>
      I'm still enjoying Hogwarts Legacy but the excitement is fading. I'm
      almost to the point of sprinting through to the end. Next on the queue are
      Prince of Persia: The Lost Crown, Cuphead, and occasionally some Hades
      awaiting the sequel.
    </p>
  </section>
  <section>
    <h3>Learning</h3>
    <p>
      I'm still trying to improve my productivity and have started learning
      terminal based tools like vim, tmux, mutt and more.
    </p>
  </section>
</BaseLayout>
<style>
  section {
    margin-top: 2em;
  }
</style>
