---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>What I'm up to now</h2>
  <p>A <a href="https://nownownow.com">nownownow</a> page</p>
  <p>Updated 7-22-2025</p>
  <section>
    <h3>Projects</h3>
    <p>
      I've been thinking about creating a fitness benchmark tracking app but
      haven't started building anything yet.
    </p>
  </section>
  <section>
    <h3>Fitness</h3>
    <p>
      Still using <a
        href="https://joinladder.com/referral?utm_source=ios_app&utm_medium=referral&utm_term=6c1a890a-2920-4bd3-9ea1-3577513e39c8&utm_campaign=share&utm_content=referral_lp&promoCode=summerguestpass30"
        >Ladder</a
      > for my training and really enjoying it. I'm on Team Resilient with Coach
      Neen. The workouts are great and I'm starting to put on some muscle.
    </p>
  </section>
  <section>
    <h3>Playing</h3>
    <p>
      I started Blasphemous 2 and am really enjoying it. I really like the
      mechanics and puzzle aspects: which makes sense because that's what I
      really enjoyed about the first one.
    </p>
  </section>
  <section>
    <h3>Learning</h3>
    <p>
      Still learning terminal based tools like vim, tmux, mutt and more. I'm
      also learning how to use AI tools to improve my productivity. I've begun
      experimenting with the Agent Panel in Zed.
    </p>
  </section>
</BaseLayout>
<style>
  section {
    margin-top: 2em;
  }
</style>
