---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>What I'm up to now</h2>
  <p>A <a href="https://nownownow.com">nownownow</a> page</p>
  <p>Updated 3-22-2025</p>
  <section>
    <h3>Projects</h3>
    <p>This site is my only current project</p>
  </section>
  <section>
    <h3>Fitness</h3>
    <p>
      After accidentally starting a trial of Ladder I decided to continue with
      it and paid for a month. After the month I committed to a year. I've been
      seeing a lot more progress than I was on my own. It's nice to turn my
      brain off and just do the work.
    </p>
    <p>
      I have yet to start building my own benchmark tracking app. I'm using the
      Bear notes app for now.
    </p>
  </section>
  <section>
    <h3>Playing</h3>
    <p>
      I finished my first (and possibly only) playthrough of Blasphemous. I
      really enjoyed playing it but have so many games to get to that I don't
      think I'll do any ng+ content. Now I'm playing Diablo 4. I'm enjoying it
      more than I did Diablo 3. I'm currently working on a chain lightning
      build.
    </p>
  </section>
  <section>
    <h3>Learning</h3>
    <p>
      Still learning terminal based tools like vim, tmux, mutt and more. I'm
      also learning how to use AI tools to improve my productivity.
    </p>
  </section>
</BaseLayout>
<style>
  section {
    margin-top: 2em;
  }
</style>
