---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2>Projects</h2>
  <section>
    <ul>
      <li>
        <a href="https://gymbutler.cavender.io/">GymButler</a>
      </li>
      <li>
        <a href="https://simpledex.cavender.io">SimpleDex</a>
      </li>
    </ul>
  </section>
</BaseLayout>
