---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <h2>Projects</h2>
  <section>
    <ul>
      <li>
        <a href="https://gymbutler.cavender.io/">GymButler</a>
      </li>
      <li>
        <a href="https://simpledex.cavender.io">SimpleDex</a>
      </li>
    </ul>
  </section>
</BaseLayout>
<style>
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: rgb(var(--text-primary));
  }
  ul li {
    width: calc(50% - 1rem);
    margin: 0.5em 0;
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li a {
    display: block;
    color: rgb(var(--text-primary));
  }
  ul li a:hover {
    color: var(--accent);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
    }
  }
</style>
