---
import NavLink from "./NavLink.astro";
---

<nav>
  <a href="/">
    <img src="/favicon.svg" />
  </a>
  <div class="internal-links">
    <NavLink class="home" href="/">Home</NavLink>
    <NavLink href="/blog">Blog</NavLink>
    <NavLink href="/projects">Projects</NavLink>
  </div>
</nav>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 0.5em;
  }
  img {
    width: 2.5em;
  }
  @media (max-width: 720px) {
    .home {
      display: none;
    }
  }
</style>
