---
import type { HTMLAttributes } from "astro/types";
import NavLink from "./NavLink.astro";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
---

<nav>
  <a href="/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      viewBox="0 0 512 512"
      ><path fill="none" d="M0 0h512v512H0z"></path><path
        d="M414.76 339.827 448 306.593 344.675 203.26 448.001 99.933 414.76 66.691 278.191 203.259zM204.297 172.202l22.449 22.441 114.142 114.143-136.591 136.53-33.203-33.204L274.42 308.786l-65.73-65.722-37.596-37.659z"
      ></path><path
        d="m193.908 266.68 39.883 39.882-33.266 33.265-50.022-50.022-86.5-86.561 136.522-136.53 33.266 33.203-103.319 103.327z"
      ></path></svg
    >
  </a>
  <div class="internal-links">
    <NavLink class="home" href="/">Home</NavLink>
    <NavLink href="/blog">Blog</NavLink>
    <NavLink href="/projects">Projects</NavLink>
  </div>
</nav>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  svg {
    fill: var(--text-primary);
    width: 2.5em;
  }
  @media (max-width: 720px) {
    .home {
      display: none;
    }
  }
</style>
