---
interface Props {
  appStoreUrl: string;
  googlePlayUrl: string;
}

const { appStoreUrl, googlePlayUrl } = Astro.props;
---

<div>
  {
    !!appStoreUrl && (
      <a href={appStoreUrl}>
        <img alt="App Store badge link" src="/images/app-store-badge.svg" />
      </a>
    )
  }
  {
    !!googlePlayUrl && (
      <a href={googlePlayUrl}>
        <img alt="Google Play badge link" src="/images/google-play-badge.png" />
      </a>
    )
  }
</div>
<style>
  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  img {
    width: 200px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    &:hover {
      opacity: 0.7;
    }
  }
</style>
