---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
const bookReviews = (await getCollection("bookReviews")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <h2>Book Reviews</h2>
  <section>
    <ul>
      {
        bookReviews.map((book) => (
          <li>
            <span>{book.data.pubDate.toLocaleDateString()}</span>
            <a href={`/books/${book.slug}/`}>{book.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
<style>
  li {
    display: flex;
  }
  span {
    flex: 0 0 100px;
    min-width: 100px;
  }
</style>
