---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const books = await getCollection("books");
  const uniqueTags = [
    ...new Set(books.map((book) => book.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredBooks = books.filter((book) =>
      book.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { books: filteredBooks },
    };
  });
}

const { tag } = Astro.params;
const { books } = Astro.props;
---

<BaseLayout title={`Books tagged with ${tag}`}>
  <h2>Books tagged with <code>{tag}</code></h2>
  <section>
    <ul>
      {
        books.map((book) => (
          <>
            <li>
              <a href={`/books/${book.id}`}>{book.data.title}</a>
            </li>
          </>
        ))
      }
    </ul>
  </section>
  <a href="/books/tags">All Book Tags</a>
</BaseLayout>
