---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
const books = await getCollection("books");
const tags = [...new Set(books.map((book) => book.data.tags).flat())];
---

<BaseLayout title="Book Review Tags">
  <h2>Book Review Tags</h2>
  <section>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/books/tags/${tag}/`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </section>
    <a href="/books">Back to Books</a>
</BaseLayout>
<style>
  ul {
    columns: 3;
  }
</style>
